body{
    background-color:#7C93C3;
    
}
#v1{
    color:whitesmoke;
    background-color:#55679C;
   
    text-decoration:wavy red underline;
    
    

}
#v2{
    color:whitesmoke;
    background-color:#1E2A5E;
}